[Unit]
Description=Gunicorn instance to serve SuperDouanier API
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/root/douanes_ai
Environment="PATH=/root/venvs/ai/bin"
ExecStart=/root/venvs/ai/bin/gunicorn -w 4 --bind 127.0.0.1:8000  --timeout 600   -k uvicorn.workers.UvicornWorker main:app 

[Install]
WantedBy=multi-user.target
