[Unit]
Description=Gunicorn instance to serve SuperDouanier API
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/root/douanes_ai
Environment="PATH=/root/venvs/ai/bin"
ExecStart=/root/venvs/ai/bin/gunicorn -w 2 --bind unix:douanes-ai.sock  -k uvicorn.workers.UvicornWorker main:app

[Install]
WantedBy=multi-user.target
